<div class = "card mt-5">
      <h5 class = "text-center">
            CREA UN TWEET
        </h5>
    <div class = "card-body">
      
        <form #tweetForm="ngForm" (ngSubmit)="onSubmit(tweetForm)">
            <div class="form-group">
                <input 
                  type="text"
                  class="form-control"
                  name="titulo"
                  #titulo="ngModel"
                  [(ngModel)]="tweetService.selectedTweet.titulo"
                  placeholder="Titulo">
            </div>

            <div class="form-group">
                    <input 
                      type="text"
                      class="form-control"
                      name="descripcion"
                      #descripcion="ngModel"
                      [(ngModel)]="tweetService.selectedTweet.descripcion"
                      placeholder="Descripción">
                </div>
            <div class="form-group">
                <button class="btn btn-lg btn-block bg-company-blue" type="submit">Publicar</button>
            </div>
        </form>
    </div>
</div>